# kredensial Aika
TOKEN_BOT=
AIKA_CHANNEL_ID=

# buat Groq AI
GROQ_API_KEY=

# buat Sightengine AI
SIGHTENGINE_USER=
SIGHTENGINE_SECRET=

# oauth2 discord 
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
SESSION_SECRET_KEY=

# pengaturan server
PORT=
