{
    "pesan_dikirim": 0,
    "pesan_dihapus": 0,
    "pesan_diedit": 0,
    "media_dikirim": 0,
    "emoji_digunakan": {},
    "reaction_ditambahkan": 0,
    "member_bergabung": 0,
    "member_keluar": 0,
    "member_dikick": 0,
    "member_diban": 0,
    "member_timeout": 0,
    "member_ubah_username": 0,
    "member_ubah_foto_profil": 0,
    "member_ubah_foto_sampul": 0,
    "member_ubah_nickname": 0,
    "member_berganti_role": 0,
    "member_boost_server": 0,
    "vc_bergabung": 0,
    "vc_keluar": 0,
    "vc_durasi_total": 0,
    "vc_jumlah_sesi": 0,
    "vc_share_screen": 0,
    "channel_dibuat": 0,
    "channel_nama_diubah": 0,
    "channel_dihapus": 0,
    "role_dibuat": 0,
    "role_pengaturan_diubah": 0,
    "server_nama_diubah": 0,
    "server_foto_diubah": 0,
    "server_sampul_diubah": 0,
    "webhook_diubah": 0,
    "integrasi_dibuat": 0,
    "emoji_ditambahkan": 0,
    "emoji_dihapus": 0,
    "thread_dibuat": 0,
    "thread_dihapus": 0,
    "thread_diarsipkan": 0,
    "thread_nama_diubah": 0,
    "event_dibuat": 0,
    "event_dibatalkan": 0
}